:root {
  --primary-color: #8aa29e;
  --secondary-color: #f1edee;
  --tertiary-color: #686963;
  --quaternary-color: #db5461;
  --color-five: #3d5467;
}

* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* container application */
.container {
  margin: 0 auto;
  margin-top: 15vh;
  max-width: 80%;
  padding: 20px;
  background-color: rgba(104, 105, 99, 0.7);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Optional: to stack elements vertically */
}

/* button styling */
button {
  background-color: var(--quaternary-color);
  color: var(--secondary-color);
  padding: 15px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

/* random password text */
h2 {
  margin-top: 10px;
}

/* Never use an insecure */
p {
  margin-top: 10px;
}

/* copy img styling */
.clipBoard {
  width: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.clipBoard:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
} 

/* Result 1 container */
.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(104, 105, 99, 0.7);
  border-radius: 10px;
}

/* Checkbox styling */
.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: var(--secondary-color);
}

.checkbox-label input[type="checkbox"] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: var(--quaternary-color);
}

/* Slider styling */
.slider-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: var(--secondary-color);
}

.slider-label {
  margin-right: 10px;
}

.slider {
  width: 100%;
  max-width: 300px;
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  background: var(--color-five);
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--quaternary-color);
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--quaternary-color);
  cursor: pointer;
  border-radius: 50%;
}

.slider-value {
  margin-left: 10px;
}